<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
    <link rel="apple-touch-icon" href="favicon.ico">
    <link rel="Shortcut Icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <title>书城首页</title>
</head>
<body>
    <!-- 页面结构 -->
    <div class="container" id="app">
            
           
            <% include include/index-female.html %>
            <% include include/index-separate.html %>

        

            <% include include/index-male.html %>
            <% include include/index-separate.html %>
           

            <% include include/index-complete.html %>

    </div>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/zepto.min.js"></script>
    <script src="/static/js/index.js"></script>
</body>
</html>