.title{
		width: 100%;
		margin-top: 0.472222rem;
		.titleLeft{
			
			.titleIcon{
				width: 0.055556rem;
				height: 0.388889rem;
				margin-right: 0.166667rem;
				vertical-align: bottom;
				display: inline-block;
			}
			p{
				font-size: 0.388889rem;
				color:#000;
				// font-face:黑体-Light;
				display: inline-block;
				height:0.388889rem;
				line-height: 0.388889rem;
			}
		}
		.titleRight{
			.moreIcon{
				width: 0.166667rem;
				height: 0.305556rem;
				line-height: 0.305556rem;
				display: inline-block;

			}
			.checkMore{
				color:#0296A2;
				margin-right: 0.111111rem;
				font-size:0.333333rem;
				display: inline-block;

			}
		}
	}